<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Funcionário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_editar.css') }}">
    <script>
        function toggleDataDemissao() {
            const demitidoCheckbox = document.getElementById("demitido");
            const demissaoDataContainer = document.getElementById("dataDemissaoContainer");
            if (demitidoCheckbox.checked) {
                demissaoDataContainer.style.display = "block"; // Mostra o campo de data
            } else {
                demissaoDataContainer.style.display = "none"; // Oculta o campo de data
                document.getElementById("dataDemissao").value = ""; // Limpa o campo de data
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Editar Funcionário</h1>
        <form action="/atualizar/{{ funcionario.id }}" method="post">
            <input type="text" name="nome" placeholder="Nome" value="{{ funcionario.nome }}" required>
            <input type="text" name="cargo" placeholder="Cargo" value="{{ funcionario.cargo }}" required>
            <input type="number" name="salario" placeholder="Salário" value="{{ funcionario.salario }}" required>
            <input type="text" name="departamento" placeholder="Departamento" value="{{ funcionario.departamento }}" required>
            <input type="text" name="loja" placeholder="Loja" value="{{ funcionario.loja }}" required>
            <p>Data de contratação:</p>
            <br> 
            <input type="date" name="data_contratacao" placeholder="Data de Contratação" value="{{ funcionario.data_contratacao }}" required>

            <label>
                Demitido:
                <input type="checkbox" id="demitido" name="demitido" {% if funcionario.demitido %}checked{% endif %} onclick="toggleDataDemissao()">
            </label>

            <div id="dataDemissaoContainer" style="display: {% if funcionario.demitido %}block{% else %}none{% endif %};">
                <label for="dataDemissao">Data de Demissão:</label>
                <input type="date" id="dataDemissao" name="data_demissao" value="{{ funcionario.data_demissao }}">
            </div>

            <button type="submit">Atualizar</button>
        </form>
        <a href="/">Voltar</a>

    </div>
</body>
</html>
