<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_resultado.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultados da Consulta</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Salário</th>
                    <th>Departamento</th>
                    <th>Data de Contratação</th>
                    <th>Data de Demissão</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.id }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.cargo }}</td>
                    <td>{{ funcionario.salario }}</td>
                    <td>{{ funcionario.departamento }}</td>
                    <td>{{funcionario.data_contratacao}}</td>
                    <td>{{funcionario.data_demissao}}</td>
                    <td>
                        <a href="/editar/{{ funcionario.id }}">
                            <button>Editar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
